{% extends 'bootstrap/base.html' %}

{% include '/common/head-block.html' %}

{% block body %}
<!-- navbar-->
{% include '/common/navbar-block-visitor.html' %}
{% include '/common/flash-msg-block.html' %}
<div class="container">
    <div class="row">
    <div class="col-md-10">
        <div>
        {% for article in articles %}
        {% include '/main/singleArticle.html' %}
        {% endfor %}
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Newer articles') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Older articles') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
     <div class="col-md-2 sidebar-bg" id="rightSideBar-1">
         {% include '/common/rightSideBar-AboutMe.html' %}
     </div>
   </div>
</div>

{% include '/visitor/sendMeMessageModal.html' %}
{% include 'common/footer.html' %}
<!-- JavaScript files-->
{% include 'common/js-block.html' %}
<script>
    $(function(){
      $('#btnSendMeMessage').click(function(){
        $.ajax({
          url : '/sendMeMessageModal',
          data : {name:$('#name').val(),location:$('#location').val(),tel:$('#tel').val(),email:$('#email').val(),msg:$('#msg').val()},
          type : 'POST',
          success: function(retdata){
              if (retdata=="success") {
              if (confirm('Save successful! You may close the popup window to reflact the change')) {
                window.location.reload();
                    }}
          },
          error: function(retdata){
            alert(retdata);
          }
        });
      });
      });
</script>
{% endblock body %}