{% extends 'bootstrap/base.html' %}
{% include '/common/head-block.html' %}
{% block body %}
<!-- navbar-->
{% include '/common/navbar-block-visitor.html' %}
{% include '/common/flash-msg-block.html' %}
<div align="center">
  <h1>请使用支付宝扫码付款</h1>
  <p>订单编号: {{ out_trade_no }}</p>
  <img style="width:20%, height:20%" class="img-responsive" id="qr_image" src="/static/img/alipay_qr/{{ qrcode_file_name }}">
</div>
<div align="center">
<p class="text-wrap" style="font-size:50px; text-align:center;"  id="timer"></p>
</div>

{% include 'common/footer.html' %}
<!-- JavaScript files-->
{% include 'common/js-block.html' %}
<script type="text/javascript">
// TODO: count down can't show up.
function countdown() {
var secondsleft = 60;
setInterval(function() {
document.getElementById("timer").innerHTML = secondsleft + "s";
secondsleft=secondsleft - 1;
}, 1000);
};
countdown();
console.log("haha1")

$(document).ready(function(){
  console.log("haha2")
  // $("img").on("load",function(){
  // #qr_image failed to trigger the function, don't know why
  $("#qr_image").on("load",function(){
    console.log("haha")
    var out_trade_no = "{{ out_trade_no }}"
    $.ajax({
      url : '/alipay/query_order1/',
      data : {out_trade_no:out_trade_no},
      type : 'POST',
      success: function(retdata){
          if (retdata=="canceled") {
          window.location.href = "/alipay/canceled"
           }
           else if (retdata=="paied") {
          window.location.href = "/alipay/pay_success"
           }
           },
      error: function(retdata){
        alert(retdata);
      }
    });
  });
});

</script>
{% endblock body %}