{% extends "common/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<container-fluid>
    <br><br><br>
    {% for article in articles %}
        {% include '/main/singleArticle.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer articles') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older articles') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
</container-fluid>

{% endblock %}

<!--TODO: how to edit existing article-->
<script>
$(document).on("ready",function(){
  $("#editarticle").click(function(){
  articleId=$("articleId").text()
  $("#editarticle").on("click",function(){
               loadarticle();
            });
   function loadarticle(){
            url = "b.html?articleId="+articleId;
            window.location.href = url;
        }
  });

});
</script>
