<!--TODO: add MathType to ckeditor-->
<form method="post" action="{{ url_for('.index') }}">
    {{ form.hidden_tag() }}
    <div class="form-group" style="height: 80px; width: 100%">
        <p>Title:</p>
        {% if form.title.errors %}
            {% for e in form.title.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {{ form.title(class_='form-control') }}
        <p>Content:</p>
        {% if form.content.errors %}
            {% for e in form.content.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {{form.content}}<br><br>
        {{ form.submit }}
    </div>
</form>


{{ ckeditor.load(pkg_type="standard") }}
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}


<!--
{{ ckeditor.load(pkg_type="standard") }}
{{ ckeditor.config(name='post',CKEDITOR_EXTRA_PLUGINS = 'eqneditor') }}
-->