 <div id="sidebar" class="text-center">
     <div class="text-center">
     <h1 style="">About this site</h1>
     <p>Site descriptions</p>
     <center  style="padding-bottom: 32px; border-bottom: 1px solid #0e0303">
             <a href="#">
                 <img style="width:50%" class="img-responsive" id="imgAboutThisSite" src="static/img/ai-1.jpg">
             </a>
     </center>
     <h1>About me</h1>
     <center>
         <div class="card" style="width: 20rem;">
         <img class="card-img-top" src="/static/img/me.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Name: Long</h5>
            <p class="card-text"><br> Email: xiaolongwu1987@sina.com.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
     </center>
    <!-- TODO:implement a wechat QR code  -->
     <p>You can find me on <a href="#">face</a> ,<a href="#">linkedin</a> , <a href="#">Wechat</a>, or <a href="#">QQ</a></p>
     </div>
 </div>
