 <div id="sidebar>">
     <div class="text-center">
     <h1 style="">About this site</h1>
     <p>Site descriptions</p>
     <center>
             <a href="#">
                 <img style="width:50%" class="img-responsive" id="imgAboutThisSite" src="static/img/ai-1.jpg">
             </a>
     </center>
     <h1>About Long</h1>
     <center>
         <a href="#">
             <img style="width:50%" id="imgOfMe" class="img-responsive" src="static/img/ai-1.jpg">
         </a>
     </center>
     <p>Welcome to my space</p>
     <p>Self introduction</p>
     <p>You can find me on <a href="#">face</a> ,<a href="#">linkedin</a> , <a href="#">Wechat</a>, or <a href="#">QQ</a></p>
     </div>
 </div>
