/* Navbar Button */
nav.navbar a.navbar-brand {
    font-size: 2.0em;
    color: #666;
}
nav.navbar a.nav-link {
    font-size: 0.9em !important;
    padding-left: 10px !important;
}
/* format Hire Me */
#hireme .post .post_body p {
    font-size: 200%;
    line-height: 150%;
}
#hireme .post .post_body ul {
    font-size: 220%;
    line-height: 150%;
}
/* Footer */
